<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="raiashuk25@yahoo.com"/>
    <add key="Password" value="Ramji_123"/>
    <add key="Website" value="https://bugs.freedesktop.org/"/>
  </appSettings>
</configuration>