<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="raiashuk25@yahoo.com"/>
    <add key="Password" value="Ramji_123"/>
    <add key="Website" value="localhost:5001"/>
    <add key="PageLoadTimeout" value="60"/>
    <add key="ElementLoadTimeOut" value="60"/>
  </appSettings>
</configuration>